.container {
 padding: 16px;
 background-color: #ffffff;
}


.banner{
 width: 100%;
 max-width: 400;
 border-radius: 15px;
}


.user-info {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 10px 0;
 border-bottom: 1px solid #e0e0e0;
}




.greeting {
 font-size: 18px;
 color: #333333;
}


.points {
 display: flex;
 align-items: center;
}


.arrow-button {
 background-color: transparent;
 border: none;
 color: #007f4f;
 font-size: 18px;
 padding-right: 125px;
}


.actions {
 display: flex;
justify-content: flex-end;
 padding: 10px 0;
}


.icon-button1{
 width: 20%;
 max-width: 80;
 border-radius: 15px;
 padding-right: 80;
}
.icon-button2{
 width: 15%;
 max-width: 80;
 border-radius: 15px;
 padding-right: 40;
}


.icon-button {
 margin-left: 10px;
 background-color: #f0f0f0;
 border: none;
 padding: 5px 10px;
 border-radius: 5px;
 color: #333333;
}


.flight-search {
 margin: 20px 0;
 padding: 15px;
 background-color: #f9f9f9;
 border-radius: 8px;


}






.come-go {
 padding-right: 150px;
}




.trip-type {
 justify-content: space-between;
 padding-bottom: 10px ;
border-bottom: 1px solid #e0e0e0;
}


.trip-type text {
 color: #333333;
}


.trip-type .active {
  color: #007f4f;
 border-bottom: 2px solid #007f4f;
 
}
.trip-type {
 padding-left: 65px;
}


.location-picker view {
 display: block;
 margin-bottom: 4px;
}
.antilocation-picker view{
 display: block;
 margin-bottom: 4px;
}
.date-picker{
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 10px 0;
 border-bottom: 1px solid #e0e0e0;
}


.date-picker view {
 display: block;
 margin-bottom: 4px;
}


.user-info view{
 display: block;
 margin-bottom: 4px;
}




.passenger-info {
 display: flex;
 flex-direction: column;
}


.label, .details {
 margin-bottom: 4px;
}




.location-picker {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 10px 0;
 border-bottom: 1px solid #e0e0e0;
}






.swap-icon {
 font-size: 20px;
 color: #007f4f;
}


.passenger-info {
 display: flex;
 justify-content: space-between;
 padding: 10px 0;
 border-bottom: 1px solid #e0e0e0;
}


.dropdown-icon {
 font-size: 20px;
 color: #333333;
}


.promo-code {
 padding: 10px 0;
 border-bottom: 1px solid #e0e0e0;
}


.search-button {
 background-color: #007f4f;
 color: white;
 padding: 10px;
 width: 100%;
 border-radius: 5px;
 margin-top: 10px;
}


.footer {
 display: flex;
 justify-content: space-around;
 padding: 10px;
 background-color: #ffffff;
 border-top: 1px solid #e0e0e0;
}


.nav-button {
 text-align: center;
 color: #333333;
}
